* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}


ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 25px;
}

li a {
    text-decoration: none;
    color: #d3d6da;
    font-size: 18px;
}

li a:hover {
    cursor: pointer;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    background-color: #1f2937;
    padding-bottom: 120px;
}

.first .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 30%;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}

.left p {
    font-size: 18px;
    color: #bcbec3;
}

.left .signup {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    background-color: #3882f6;
    color: white; 
    font-weight: 500;  
    font-size: 15px;
}

.left .signup:hover {
    background-color: white;
    color: rgb(34, 34, 34);
    cursor: pointer;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 60px;
    padding-top: 50px;
}

h2 {
    font-size: 30px;
}

.second .bottom {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 50%;
    margin-bottom: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.box {
    width: 180px;
    height: 180px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.card p {
    text-align: center;
    font-size: 18px;
    width: 80%;
}

.page {
    height:20%;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb ;
    height: 450px;
}

.quote {
    width: 60%;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.author {
    align-self: flex-end;
    margin-right: 270px;
    margin-top: 50px;
    font-weight: bold;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    padding: 40px 50px;
    gap: 40px;
    border-radius: 10px;
    width: 60%;
}

.leftside {
    display: flex;
    flex-direction: column;
    color: white;
}

.leftside h3 {
    font-size: 24px;
}

.para p{
    font-size: 18px;
}

.rightside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside button {
    padding: 10px 50px;
    background-color: #3882f6;
    border: 1.5px solid white;
    border-radius: 7px;
    color: white;
    font-size: 18px;
}

.rightside button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(28, 28, 28);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color:#bcbec3;
    padding: 35px;
}